.form{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.list{
    list-style-type: none;
    height: 90vh;
    width: 25%;
    overflow:hidden;
}
.input{
    padding: 10px 40px;
    outline: none;
}
.btn{
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
}
img{
    display: block;
    border-radius: 50%;
    margin: 40px;
}